/* Footer */
.footer {
  background-color: #333;
  color: #fff;
  font-size: 15px;
}

.footer .header {
  font-weight: 500;
  font-size: 14px;
}

.footer .brand li {
  font-size: 20px;
  height: 40px;
  width: 40px;
  margin: 0px 10px 0 0;
  background-color: #444;
  color: #191919;
  border-radius: 50%;
}

.footer .brand a {
  color: #333;
  transition: 0.25s;
}

.footer .brand li:hover {
  background-color: #85586f;
}

.footer .brand li:hover a {
  color: #ccc;
}
