<app-carousel></app-carousel>
<!-- Content -->
<div class="album py-5">
  <h2 class="h2 text-center">All items</h2>
  <div class="container py-2">

    <div class="row row-cols-1 row-cols-sm-3 row-cols-md-4 g-3">
      <div class="col">
        <div class="card shadow-sm">
          <div class="product-img">
            <img src="../assets/images/soghichep2.jpg" alt="" class="w-100">
          </div>

          <div class="card-body">
            <div class="card-title">NOTEBOOK PANDA</div>
            <small class="text-muted">60.000đ</small>
            <div class="d-flex justify-content-evenly align-items-center mt-3">
              <button type="button" class="btn btn-sm px-4">View</button>
              <button type="button" class="btn btn-sm px-4">Buy</button>
            </div>
          </div>
        </div>
      </div>
      <!-- cột 2 -->
      <div class="col">
        <div class="card shadow-sm">
          <div class="product-img">
            <img src="../assets/images/soghichep.jpg" alt="" class="w-100">
          </div>

          <div class="card-body">
            <div class="card-title">NOTEBOOK WE ARE BEAR</div>
            <small class="text-muted">60.000đ</small>
            <div class="d-flex justify-content-evenly align-items-center mt-3">
              <button type="button" class="btn btn-sm px-4">View</button>
              <button type="button" class="btn btn-sm px-4">Buy</button>
            </div>
          </div>
        </div>
      </div>
      <!-- cột 3 -->
      <div class="col">
        <div class="card shadow-sm">
          <div class="product-img">
            <img src="../assets/images/tat.jpg" alt="" class="w-100">
          </div>

          <div class="card-body">
            <div class="card-title">PAIR OF SOCKS</div>
            <small class="text-muted">60.000đ</small>
            <div class="d-flex justify-content-evenly align-items-center mt-3">
              <button type="button" class="btn btn-sm px-4">View</button>
              <button type="button" class="btn btn-sm px-4">Buy</button>
            </div>
          </div>
        </div>
      </div>
      <!-- cột 4 -->
      <div class="col">
        <div class="card shadow-sm">
          <div class="product-img">
            <img src="../assets/images/tatpanda.jpg" alt="" class="w-100">
          </div>

          <div class="card-body">
            <div class="card-title">PAIR OF SOCKS</div>
            <small class="text-muted">60.000đ</small>
            <div class="d-flex justify-content-evenly align-items-center mt-3">
              <button type="button" class="btn btn-sm px-4">View</button>
              <button type="button" class="btn btn-sm px-4">Buy</button>
            </div>
          </div>
        </div>
      </div>
      <!-- cột 5 -->
      <div class="col">
        <div class="card shadow-sm">
          <div class="product-img">
            <img src="../assets/images/thiep.jpg" alt="" class="w-100">
          </div>

          <div class="card-body">
            <div class="card-title">INVITATION LETTER</div>
            <small class="text-muted">30.000đ</small>
            <div class="d-flex justify-content-evenly align-items-center mt-3">
              <button type="button" class="btn btn-sm px-4">View</button>
              <button type="button" class="btn btn-sm px-4">Buy</button>
            </div>
          </div>
        </div>
      </div>
      <!-- cột 6 -->
      <div class="col">
        <div class="card shadow-sm">
          <div class="product-img">
            <img src="../assets/images/thieppanda.jpg" alt="" class="w-100">
          </div>

          <div class="card-body">
            <div class="card-title">INVITATION LETTER</div>
            <small class="text-muted">30.000đ</small>
            <div class="d-flex justify-content-evenly align-items-center mt-3">
              <button type="button" class="btn btn-sm px-4">View</button>
              <button type="button" class="btn btn-sm px-4">Buy</button>
            </div>
          </div>
        </div>
      </div>
      <!-- cột 7 -->
      <div class="col">
        <div class="card shadow-sm">
          <div class="product-img">
            <img src="../assets/images/khautrangsiucute.jpg" alt="" class="w-100">
          </div>

          <div class="card-body">
            <div class="card-title">FACE MASK</div>
            <small class="text-muted">30.000đ</small>
            <div class="d-flex justify-content-evenly align-items-center mt-3">
              <button type="button" class="btn btn-sm px-4">View</button>
              <button type="button" class="btn btn-sm px-4">Buy</button>
            </div>
          </div>
        </div>
      </div>
      <!-- cột 8 -->
      <div class="col">
        <div class="card shadow-sm">
          <div class="product-img">
            <img src="../assets/images/khautrangpanda.jpg" alt="" class="w-100">
          </div>

          <div class="card-body">
            <div class="card-title">FACE MASK PANDA</div>
            <small class="text-muted">40.000đ</small>
            <div class="d-flex justify-content-evenly align-items-center mt-3">
              <button type="button" class="btn btn-sm px-4">View</button>
              <button type="button" class="btn btn-sm px-4">Buy</button>
            </div>
          </div>
        </div>
      </div>
      <!-- cột 9 -->
      <div class="col">
        <div class="card shadow-sm">
          <div class="product-img">
            <img src="../assets/images/mienglotchuot.jpg" alt="" class="w-100">
          </div>

          <div class="card-body">
            <div class="card-title">MOUSE PADS</div>
            <small class="text-muted">150.000đ</small>
            <div class="d-flex justify-content-evenly align-items-center mt-3">
              <button type="button" class="btn btn-sm px-4">View</button>
              <button type="button" class="btn btn-sm px-4">Buy</button>
            </div>
          </div>
        </div>
      </div>
      <!-- cột 10 -->
      <div class="col">
        <div class="card shadow-sm">
          <div class="product-img">
            <img src="../assets/images/mienglotchuot3.jpg" alt="" class="w-100">
          </div>

          <div class="card-body">
            <div class="card-title">MOUSE PADS</div>
            <small class="text-muted">150.000đ</small>
            <div class="d-flex justify-content-evenly align-items-center mt-3">
              <button type="button" class="btn btn-sm px-4">View</button>
              <button type="button" class="btn btn-sm px-4">Buy</button>
            </div>
          </div>
        </div>
      </div>
      <!-- cột 11 -->
      <div class="col">
        <div class="card shadow-sm">
          <div class="product-img">
            <img src="../assets/images/tuivai.jpg" alt="" class="w-100">
          </div>

          <div class="card-body">
            <div class="card-title">CANVAS BAG</div>
            <small class="text-muted">220.000đ</small>
            <div class="d-flex justify-content-evenly align-items-center mt-3">
              <button type="button" class="btn btn-sm px-4">View</button>
              <button type="button" class="btn btn-sm px-4">Buy</button>
            </div>
          </div>
        </div>
      </div>
      <!-- cột 12 -->
      <div class="col">
        <div class="card shadow-sm">
          <div class="product-img">
            <img src="../assets/images/tuivai1.jpg" alt="" class="w-100">
          </div>

          <div class="card-body">
            <div class="card-title">CANVAS BAG</div>
            <small class="text-muted">220.000đ</small>
            <div class="d-flex justify-content-evenly align-items-center mt-3">
              <button type="button" class="btn btn-sm px-4">View</button>
              <button type="button" class="btn btn-sm px-4">Buy</button>
            </div>
          </div>
        </div>
      </div>
      <!-- cột 13 -->
      <div class="col">
        <div class="card shadow-sm">
          <div class="product-img">
            <img src="../assets/images/op1.jpg" alt="" class="w-100">
          </div>

          <div class="card-body">
            <div class="card-title">PHONE CASE</div>
            <small class="text-muted">120.000đ</small>
            <div class="d-flex justify-content-evenly align-items-center mt-3">
              <button type="button" class="btn btn-sm px-4">View</button>
              <button type="button" class="btn btn-sm px-4">Buy</button>
            </div>
          </div>
        </div>
      </div>
      <!-- cột 14 -->
      <div class="col">
        <div class="card shadow-sm">
          <div class="product-img">
            <img src="../assets/images/op2.jpg" alt="" class="w-100">
          </div>

          <div class="card-body">
            <div class="card-title">PHONE CASE</div>
            <small class="text-muted">120.000đ</small>
            <div class="d-flex justify-content-evenly align-items-center mt-3">
              <button type="button" class="btn btn-sm px-4">View</button>
              <button type="button" class="btn btn-sm px-4">Buy</button>
            </div>
          </div>
        </div>
      </div>
      <!-- cột 15 -->
      <div class="col">
        <div class="card shadow-sm">
          <div class="product-img">
            <img src="../assets/images/stickerpanda.jpg" alt="" class="w-100">
          </div>

          <div class="card-body">
            <div class="card-title">STICKER PANDA</div>
            <small class="text-muted">50.000đ</small>
            <div class="d-flex justify-content-evenly align-items-center mt-3">
              <button type="button" class="btn btn-sm px-4">View</button>
              <button type="button" class="btn btn-sm px-4">Buy</button>
            </div>
          </div>
        </div>
      </div>
      <!-- cột 16 -->
      <div class="col">
        <div class="card shadow-sm">
          <div class="product-img">
            <img src="../assets/images/sticker1.jpg" alt="" class="w-100">
          </div>

          <div class="card-body">
            <div class="card-title">STICKER WE ARE BEAR</div>
            <small class="text-muted">50.000đ</small>
            <div class="d-flex justify-content-evenly align-items-center mt-3">
              <button type="button" class="btn btn-sm px-4">View</button>
              <button type="button" class="btn btn-sm px-4">Buy</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
