<app-carousel></app-carousel>

<div class="marketing">
  <!-- Three columns of text below the carousel -->
  <div class="row top-products bg-light p-5 w-100 px-5 d-flex justify-content-evenly">
      <h2 class="text-center mb-4">Most Popular in the Store</h2>

      <div class="col-lg-3 col-md-12 mb-4">
          <div class="card d-flex align-items-center justify-content-center shadow overflow-hidden">
              <div class="bg-image">
                  <img src="../assets/images/aothun3congau.jpg" class="featurette-image img-fluid mx-auto" alt="Responsive image" width="100%" preserveAspectRatio="xMidYMid slice" focusable="false" />
              </div>
              <div class="card-body d-flex flex-column justify-content-center">
                  <h5 class="card-title text-center">T-shirt</h5>
                  <a href="#" class="btn">Buy now</a>
              </div>
          </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
          <div class="card d-flex align-items-center justify-content-center shadow overflow-hidden">
              <div class="bg-image">
                  <img src="../assets/images/binhnuoc.jpg" class="featurette-image img-fluid mx-auto" alt="Responsive image" width="100%" preserveAspectRatio="xMidYMid slice" focusable="false" />
              </div>
              <div class="card-body d-flex flex-column justify-content-center">
                  <h5 class="card-title text-center">Vaccuum Bottle</h5>
                  <a href="#!" class="btn">Buy now</a>
              </div>
          </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
          <div class="card d-flex align-items-center justify-content-center shadow overflow-hidden">
              <div class="bg-image">
                  <img src="../assets/images/guong2.jpg" class="featurette-image img-fluid mx-auto" alt="Responsive image" width="100%" preserveAspectRatio="xMidYMid slice" focusable="false" />
              </div>
              <div class="card-body d-flex flex-column justify-content-center">
                  <h5 class="card-title text-center">Clock</h5>
                  <a href="#!" class="btn">Buy now</a>
              </div>
          </div>
      </div>

  </div>
  <!-- /.row -->

  <!-- START THE FEATURETTES -->

  <!-- <hr class="featurette-divider"> -->

  <div class="container row featurette mx-auto">
      <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1">
              First featurette heading.
              <span class="text-muted">It’ll blow your mind.</span>
          </h2>
          <p class="lead">
              Some great placeholder content for the first featurette here.
              Imagine some exciting prose here.
          </p>
      </div>
      <div class="col-md-5">
          <img src="../assets/images/s5.png" class="featurette-image img-fluid mx-auto" alt="Responsive image" width="500"
              height="500" preserveAspectRatio="xMidYMid slice" focusable="false" />
      </div>
  </div>

  <div class="featurette bg-light pb-5">
      <div class="w-50 d-flex flex-column align-items-center justify-content-center mx-auto">
          <h2 class="featurette-heading fw-normal mb-3">About Us</h2>
          <p class="lead text-center">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Reprehenderit ratione sit, itaque temporibus adipisci blanditiis.
              Molestias autem voluptates optio dicta rerum laborum, voluptatem
              ducimus id obcaecati vel quidem vero natus.
          </p>
      </div>
  </div>

  <!-- <hr class="featurette-divider"> -->

  <div class="container row featurette mx-auto">
      <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading fw-normal lh-1">
              Oh yeah, it’s that good.
              <span class="text-muted">See for yourself.</span>
          </h2>
          <p class="lead">
              Another featurette? Of course. More placeholder content here to give
              you an idea of how this layout would work with some actual
              real-world content in place.
          </p>
      </div>
      <div class="col-md-5 order-md-1">
          <img src="../assets/images/s11.png" class="featurette-image img-fluid mx-auto" alt="Responsive image" width="500"
              height="500" preserveAspectRatio="xMidYMid slice" focusable="false" />
      </div>
  </div>

  <div class="featurette bg-light pb-5">
      <div class="w-50 d-flex flex-column align-items-center justify-content-center mx-auto">
          <h2 class="featurette-heading fw-normal mb-3">What We Do</h2>
          <p class="lead text-center">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Reprehenderit ratione sit, itaque temporibus adipisci blanditiis.
              Molestias autem voluptates optio dicta rerum laborum, voluptatem
              ducimus id obcaecati vel quidem vero natus.
          </p>
      </div>
  </div>
  <!-- <hr class="featurette-divider"> -->

  <div class="container row featurette mx-auto">
      <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1">
              And lastly, this one. <span class="text-muted">Checkmate.</span>
          </h2>
          <p class="lead">
              And yes, this is the last block of representative placeholder
              content. Again, not really intended to be actually read, simply here
              to give you a better view of what this would look like with some
              actual content. Your content.
          </p>
      </div>
      <div class="col-md-5">
          <img src="../assets/images/s4.png" class="featurette-image img-fluid mx-auto" alt="Responsive image" width="500"
              height="500" preserveAspectRatio="xMidYMid slice" focusable="false" />
      </div>
  </div>

  <!-- <hr class="featurette-divider"> -->

  <!-- /END THE FEATURETTES -->
</div>
<!-- /.container -->
